openapi: 3.2.0
info:
  title: Alzheon Content API (WordPress REST) Discovery API
  version: wp/v2
  summary: Read-only access to the press releases, news, pages and media published on alzheon.com.
  description: Alzheon does not operate a product or developer API.
  contact:
    name: Alzheon, Inc.
    url: https://alzheon.com/contact/
  x-origin:
  - url: https://alzheon.com/wp-json/
    format: wordpress-rest-route-index
    version: wp/v2
  x-apievangelist-method: derived
  x-apievangelist-derived-from: https://alzheon.com/wp-json/ (live route index, fetched 2026-07-31)
  x-apievangelist-note: Incidental CMS content API, not a product API. Derived, not published by Alzheon.
servers:
- url: https://alzheon.com/wp-json
  description: alzheon.com WordPress REST API
security: []
tags:
- name: Discovery
  description: The route index / discovery document.
paths:
  /:
    get:
      operationId: getApiIndex
      summary: Get the API index
      description: 'Return the WordPress REST API discovery document for alzheon.com: site name, description, registered namespaces, the full route index with each route''s supported methods and arguments, and the authentication methods available.'
      tags:
      - Discovery
      responses:
        '200':
          description: The API discovery document.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress application passwords (HTTP Basic: username + application password). Advertised by the site''s route index at https://alzheon.com/wp-admin/authorize-application.php. Required only for write and administrative routes, which are not part of this document; all operations here are readable anonymously.'
