openapi: 3.2.0
info:
  title: Alzheon Content API (WordPress REST) O Embed API
  version: wp/v2
  summary: Read-only access to the press releases, news, pages and media published on alzheon.com.
  description: 'Alzheon does not operate a product or developer API. Its corporate site, alzheon.com, does however serve the standard WordPress REST API anonymously at `https://alzheon.com/wp-json`, which makes the company''s press releases, in-the-news items, science/pipeline pages, media library and taxonomies machine-readable without a key.


    This document was DERIVED by API Evangelist from the provider''s own live route index (`GET https://alzheon.com/wp-json/`) on 2026-07-31. Every path, method, parameter name, type, default, enumeration and parameter description is copied verbatim from that index; nothing was invented. Only routes that were individually probed and observed to return HTTP 200 to an anonymous request are included — administrative routes such as `/wp/v2/settings` and `/wp/v2/plugins` return 401 and are deliberately omitted, as are all write operations, which require WordPress application-password credentials the company does not issue publicly.


    This is NOT a first-party API product and Alzheon publishes no developer documentation, SDKs, support channel or terms of use for it. Treat it as an incidental content surface.'
  contact:
    name: Alzheon, Inc.
    url: https://alzheon.com/contact/
  x-origin:
  - url: https://alzheon.com/wp-json/
    format: wordpress-rest-route-index
    version: wp/v2
  x-apievangelist-method: derived
  x-apievangelist-derived-from: https://alzheon.com/wp-json/ (live route index, fetched 2026-07-31)
  x-apievangelist-note: Incidental CMS content API, not a product API. Derived, not published by Alzheon.
servers:
- url: https://alzheon.com/wp-json
  description: alzheon.com WordPress REST API
security: []
tags:
- name: oEmbed
  description: oEmbed representations of alzheon.com URLs.
paths:
  /oembed/1.0/embed:
    get:
      operationId: getOEmbed
      summary: Return the oEmbed representation of a URL on alzheon
      description: Return the oEmbed representation of a URL on alzheon.com.
      tags:
      - oEmbed
      parameters:
      - name: format
        in: query
        required: false
        schema:
          default: json
          type: string
      - name: maxwidth
        in: query
        required: false
        schema:
          default: 600
          type: string
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. This API does NOT use RFC 9457 application/problem+json.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
  responses:
    BadRequest:
      description: Invalid parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress application passwords (HTTP Basic: username + application password). Advertised by the site''s route index at https://alzheon.com/wp-admin/authorize-application.php. Required only for write and administrative routes, which are not part of this document; all operations here are readable anonymously.'
